<div class="summer-blog-menu">
    <div class="summer-mobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="summer-menu">
        <li class="summer-mobile-close-btn show-for-small text-right">
            <a href="#"><i class="fa fa-times"></i></a>
        </li>
        <li>
            <a href="http://blog.markooksanen.com" class="active">Blog</a>
        </li>
        <li>
            <a href="/about-me">About me</a>
        </li>
        <!--li>
            <a href="/contact-me">Contact</a>
        </li-->
        <li>
            <a href="#" class="js-open-search search-menu-btn"><i class="fa fa-fw fa-search"></i></a>
        </li>
    </ul>
</div>
 <div class="clearfix"></div>
